<section class="footer-w3l">
  <section class="container">
    <section class="footer-grids">
      <section role="contentinfo" class="col-md-3 footer-grid">
          <h4>About</h4>
          <ul role="tablist">
            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1398 W El Camino Real</li>
            <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>1 599-033-5036</li>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:whoplaystonight@gmail.com">whoplaystonight@gmail.com</a></li>
            <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Mon-Sun 08:00 am to 23:00 pm</li>
          </ul>
      </section>
      <section role="contentinfo" class="col-md-3 footer-grid web">
        <h4>Our Special</h4>
        <ul role="tablist">
          <li>Eiusmod tempor incididunt</li>
          <li>Adipisicing elit, sed</li>
          <li>Mod tempor incididunt ut</li>
          <li>Dipisicing elit, sed do</li>
        </ul>
      </section>
      <section role="contentinfo" class="col-md-3 footer-grid web">
        <h4>Popular</h4>
        <ul role="tablist">
          <li>Pop</li>
          <li>Rock</li>
          <li>Electro</li>
          <li>Ensemble</li>
        </ul>
      </section>
      <section role="contentinfo" class="col-md-3 footer-grid web">
        <h4> Friendly Links</h4>
        <ul role="tablist">
          <li>Eiusmod tempor incididunt</li>
          <li>Adipisicing elit, sed</li>
          <li>Mod tempor incididunt ut</li>
          <li>Dipisicing elit, sed do</li>
          <li>Econsectetur adipisicing</li>
        </ul>
      </section>
      <section role="navigation" class="center social-icon web footer-grid socialIcon">
        <ul role="menubar">
          <li><a role="button" href="https://www.facebook.com/"><img src="../../images/facebook.ico"/></a></li>
          <li><a role="button" href="https://twitter.com/"><img src="../../images/twitter.ico"/></a></li>
          <li><a role="button" href="https://plus.google.com/"><img src="../../images/googleplus.ico"/></a></li>
          <li><a role="button" href="https://www.instagram.com/?hl=es"><img src="../../images/Instagram.ico"/></a></li>
        </ul>
      </section>
      <section class="clearfix"></section>
    </section>
  </section>
</section>
