<div ng-controller="MenuController as vm">
  <!--<section id="alertbanner" ng-show="bannerV"><a ng-class='bannerClass'>{{bannerText}}</a></section>-->
  <div class="banner">

      <section class="container info-head">
        <div class="indicat">
          <span><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>{{'LOCATION' | translate}}</span>
        </div>
        <div class="detail">
          <ul>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> + 1 599-033-5036</li>
            <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>{{'HORARIO' | translate}}</li>
          </ul>
        </div>
      </section>
      <section class="container">
        <!-- <section class="row">
          <section id="isotipo" class="col-xs-12 col-lg-1">
          </section> -->
          <div role="presentation" id="logotipo" class="col-xs-12 col-lg-11">
            <div ng-hide="expression" class="logo" >
              <h1><a href="#/" role="button">WHO PLAYS TONIGHT?</a></h1>
            </div>
          </div>
        </section>
        <nav role="navigation" class="container borderXwidth" style="background-color:black">
          <ul role="menubar" class="topnav" id="myTopnav">
            <!-- Menú -->
            <li role="menuitem" class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
              <a role="button" ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
            </li>
            <li  role="menuitem" ng-hide="$root.authUser">
              <a role="button" target="_self" href="/signin" ng-show="!$root.authUser"><img src="../images/Sign_in.svg" alt="Sign_in"/></a>
            </li>
            <li role="menuitem" ng-hide="$root.authUser">
              <a role="button" target="_self" href="/signup" ng-show="!$root.authUser"><img src="../images/Sign_up.svg" alt="Sign_up"/></a>
            </li>
            <li role="menuitem" ng-hide="$root.authUser" >
              <a role="button" target="_self" href="api/loginFacebook"><img id="loginFacebook" src="../../images/facebook.svg"/></a>
            </li>
            <li role="menuitem" ng-hide="$root.authUser" >
              <a role="button" target="_self" href="api/loginTwitter"><img id="loginTwitter" src="../../images/twitter.svg"/></a>
            </li>
            <li role="menuitem" id="logoutButton" ng-click="vm.logout()" ng-show="$root.authUser">
              <a role="button" href="#"><img src="../../images/Logout.svg"/></a>
            </li>
            <li role="menuitem" id="userAuthInfo" ng-show="$root.authUser">
              <a role="button" href="/admin"><img class="avatar" ng-src="{{$root.authUser.avatar}}" />{{'WELCOME' | translate}} {{ $root.authUser.username}}{{ $root.authUser.name.givenName}}</a>
            </li>
            <li role="menuitem" class="icon">
              <a role="button" href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
            </li>
            
            <li> <a ng-click="vm.setLang('en')" translate="ENGLISH">English</a></li>
            <li> <a ng-click="vm.setLang('es')" translate="ESPAÑOL">Español</a></li>
          </ul>
        </nav>
        <script>
          function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
        </script>
  </div>
</div>
