<div ng-controller="MenuController as vm">
  <!--<div id="alertbanner" ng-show="bannerV"><a ng-class='bannerClass'>{{bannerText}}</a></div>-->
  <div class="banner">
    <header>
      <div class="container info-head">
        <div class="indicat">
          <span><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1398 W El Camino Real, Mountain View,UK</span>
        </div>
        <div class="detail">
          <ul>
            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> + 1 599-033-5036</li>
            <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i> Mon-Sun 8:00 am to 23:00 pm </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div ng-hide="expression" class="logo">
          <h1><a href="#/">WHO PLAYS TONIGHT?</a></h1>
        </div>
        <nav class="container borderXwidth">
          <ul class="topnav" id="myTopnav">
            <!--<li><a data-hover="Home" href="#/">Home</a></li>-->
            <li id="Events"><a data-hover="Events" href="#/events">Events</a></li>
            <li><a data-hover="List Events" href="#/events_front_end/list_events/">List Events</a></li>
            <!-- <li><a data-hover="Contact" href="#/contact/contact/">Contact</a></li> -->
            <li id="SignUp"><a data-hover="Sign Up" href="#/users/sign_up/">Sign Up</a></li>
            <li id="LogProf"><a data-hover="Login" href="#/users/login/">Login</a></li>
            <!-- <li class=""><a data-hover="Locate" href="#/locate/locate/">Locate</a></li> -->
            <!-- <li><a data-hover="Dashboard" href="#">Dashboard</a></li>
                                <li><a data-hover="Admin" href="#">Admin</a></li> -->
            <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
              <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
            </li>
            <li class="icon">
              <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
            </li>
          </ul>
        </nav>
        <script>
          function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
        </script>
      </div>
    </header>
  </div>
</div>
