$backgroundcolor_black:#000000;
$backgroundcolor_red:#c30007;
$backgroundcolor_blue:#1665ac;
$text_white:#ffffff;
$headerFont:Impact;
$textFont:monospace;


@mixin bp-small {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 850px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 960px) {
    @content;
  }
}
